#map {
    height:400px;
}
#info-restaurant {
    position: absolute;
    top: 0;
    left: 0;
    height: 350px;
    margin: 5px;
    width: 20%;
    z-index: 1000;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
}